<main role="main">
  <header>
    <nav>
      <div class="nav-wrapper light-blue darken-4">
        <div class="hide-on-small-and-down">
          <a href="#" class="brand-logo">
            <i class="fas fa-dice"></i>
            <strong>Amazing Domino</strong>
          </a>
          <ul id="nav-mobile" class="right">
            <%= if not is_nil(@conn.assigns[:user]) && :avatar in Map.keys(@user) && not is_nil(@user.avatar) do %>
            <li><img class="avatar-header" src="<%= @user.avatar %>"/></li>
            <% end %>
            <li>
              <%= if not is_nil(@conn.assigns[:user]) do %>
                <h5 class="valing-wrapper">
                  <%= if :avatar not in Map.keys(@user) or is_nil(@user.avatar) do %>
                  <i class="fas fa-user-alt"></i>&nbsp;
                  <% end %>
                  <strong><%= @user.nick %></strong>
                </h5>
              <% end %>
            </li>
            <%= if not is_nil(@conn.assigns[:user]) do %>
            <li>
              <h5>
                <a href="/logout" class="tooltipped cyan-text text-accent-2" data-position="bottom" data-tooltip="Salir">
                  <i class="fas fa-sign-out-alt fa-lg"></i>
                </a>
              </h5>
            </li>
            <% end %>
          </ul>
        </div>
        <div class="row hide-on-med-and-up">
          <%= if not is_nil(@conn.assigns[:user]) && :avatar in Map.keys(@user) && not is_nil(@user.avatar) do %>
          <div class="col s2">
            <img class="avatar-header" src="<%= @user.avatar %>" width="45" height="45"/>
          </div>
          <div class="col s8">
          <% else %>
          <div class="col s10">
          <% end %>
            <h5>
              <%= if not is_nil(@conn.assigns[:user]) do %>
                <%= if :avatar not in Map.keys(@user) or is_nil(@user.avatar) do %>
                <i class="fas fa-user-alt"></i>&nbsp;
                <% end %>
                <strong><%= @user.nick |> String.slice(0..10) |> String.trim%></strong>
              <% else %>
                <i class="fas fa-dice"></i> Amazing Domino
              <% end %>
            </h5>
          </div>
          <div class="col s2 right-align">
            <%= if not is_nil(@conn.assigns[:user]) do %>
            <h5>
              <a href="/logout" class="tooltipped cyan-text text-accent-2" data-position="bottom" data-tooltip="Salir">
                <i class="fas fa-sign-out-alt fa-sm"></i>
              </a>
            </h5>
            <% end %>
        </div>
      </div>
      <script>
        $(document).ready(function(){
          $('.tooltipped').tooltip();
        });
      </script>
    </nav>

  </header>
  <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
  <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
  <%= render @view_module, @view_template, assigns %>
</main>


