<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= assigns[:page_title] || "Amazing Domino by MakingDevs" %></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= System.get_env("GOOGLE_TAG") %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '<%= System.get_env("GOOGLE_TAG") %>');
    </script>
  </head>
  <body>
    <script>

      window.fbAsyncInit = function() {
        FB.init({
          appId      : '<%= System.get_env("FACEBOOK_CLIENT_ID") %>',
          cookie     : true,  // Enable cookies to allow the server to access the session.
          xfbml      : true,  // Parse social plugins on this webpage.
          version    : 'v7.0' // Use this Graph API version for this call.
        });
      };


      (function(d, s, id) {                      // Load the SDK asynchronously
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/es_LA/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

    </script>
    <%= @inner_content %>
    <footer class="page-footer light-blue darken-4">
      <div class="footer-container center-align">
        © 2020 <a class="grey-text text-lighten-4" href="http://makingdevs.com/" target="_blank">Makingdevs</a>&nbsp;
        <a class="grey-text text-lighten-4" href="https://www.facebook.com/makingdevs/" target="_blank">
          <i class="fab fa-facebook fa-lg"></i>
        </a>&nbsp;
        <a class="grey-text text-lighten-4 " href="https://twitter.com/makingdevs" target="_blank">
          <i class="fab fa-twitter fa-lg"></i>
        </a>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
