<%= if is_nil @game do %>
<div class="row">
  <div class="col s12 m6">
    <div class="card small">
      <div class="card-content blue-text text-darken-4">
        <span class="card-title"><h4 class="h-custom">Crear una partida</h4></span>
        <p>Inicia una partida e invita a tus amigos a jugar</p>
        <p>Envíales el ID de la partida</p>
      </div>
      <div class="card-action right-align">
        <form action="/create">
          <button class="btn btn-large waves-effect waves-light blue darken-4" type="submit">Crear</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="card small">
      <form id="join_game_form" action="/join">
      <div class="card-content blue-text text-darken-4">
        <span class="card-title"><h4 class="h-custom">Entrar a una partida</h4></span>
        <p class="hide-on-small-and-down">Introduce el ID de la partida (pide a tus amigos que te lo compartan)</p>
        <div class="input-field col s12">
          <input type="text" id="game_uuid" name="game_uuid" required="" aria-required="true" />
          <label class="blue-text text-darken-2" for="game_uuid">ID de partida</label>
          <span class="helper-text" data-error="Debes escribir el ID de la partida" data-success="">Escribe el ID de la partida</span>
        </div>
      </div>
      <div class="card-action right-align">
        <button class="btn btn-large waves-effect waves-light blue darken-4" type="submit">Entrar</button>
      </div>
      </form>
    </div>
  </div>
</div>

  <%= if not is_nil @conn.assigns.record do %>
  <div class="row valign-wrapper hide-on-med-and-down">
    <div class="col m6 blue-text text-darken-4 center-align">
      <%= if @conn.assigns.record[:total_games] > 0 do %>
      <h4>
        <i class="<%= icon_for_games_record(@conn.assigns.record[:percentage]) %>"></i>&nbsp;
        <%= @conn.assigns.record[:message] %>
      </h4>
      <% end %>
    </div>
    <div class="col m6">
      <table class="centered">
        <thead class="blue darken-4 white-text">
          <tr>
              <th>JUGADOS</th>
              <th>GANADOS</th>
              <th>PERDIDOS</th>
              <th>PORCENTAJE</th>
          </tr>
        </thead>

        <tbody class="<%= color_for_games_record(@conn.assigns.record[:percentage]) %>">
          <tr>
            <td><%= @conn.assigns.record[:total_games] %></td>
            <td><%= @conn.assigns.record[:won_games] %></td>
            <td><%= @conn.assigns.record[:lost_games] %></td>
            <td><%= @conn.assigns.record[:percentage] %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="container container-record hide-on-large-only">
    <div class="row row-players">
      <div class="col s12 blue-text text-darken-4 center-align">
        <h4 class="h-custom">
          <i class="<%= icon_for_games_record(@conn.assigns.record[:percentage]) %>"></i>&nbsp;
          <%= @conn.assigns.record[:message] %>
        </h4>
      </div>
    </div>
    <div class="row row-players blue darken-4 white-text center-align">
      <div class="col s3"><b>JJ</b></div>
      <div class="col s3"><b>JG</b></div>
      <div class="col s3"><b>JP</b></div>
      <div class="col s3"><b>%</b></div>
    </div>
    <div class="row row-players <%= color_for_games_record(@conn.assigns.record[:percentage]) %> center-align">
      <div class="col s3"><%= @conn.assigns.record[:total_games] %></div>
      <div class="col s3"><%= @conn.assigns.record[:won_games] %></div>
      <div class="col s3"><%= @conn.assigns.record[:lost_games] %></div>
      <div class="col s3"><%= @conn.assigns.record[:percentage] %></div>
    </div>
  </div>
  <% end %>
<% end %>

<%= if not is_nil @game do %>
<div class="row"></div>
  <div class="col s12">
    <%= render "sections/error.html", message: "El juego inició sin ti" %>
  </div>
</div>
<% end %>

