@mixin position($all) {
  top: $all;
  right: $all;
  bottom: $all;
  left: $all;
}

.board {
  background-color: white;
  position: absolute !important;
}

.empty {
  background-color: #bbdefb;
}

.valid {
  background-color: #bbdefb;
}
// #64b5f6
.selected {
  background-color: #ffe57f;
}

.hidden {
  visibility: hidden;
}

.white-domino {
  background-color: white;
}

.domino {
  width: 90px;
  position: relative;
  top: 10px;
  margin: 1px;
  .left-half, .right-half {
    box-sizing: border-box;
    float: left;
    width: 45px;
    height: 40px;
    margin: auto;
    border: 2px solid rgb(0, 138, 213);
    &:before {
      position: absolute;
      @include position(-1px);
      z-index: 1;
      border: 1px solid #b2dfdb;
      border-radius: 4px;
    }
  }
  .left-half {
    border-right: 1px solid rgb(0, 138, 213);
    border-radius: 3px 0px 0px 3px;
  }
  .right-half {
    border-left: 1px solid rgb(0, 138, 213);
    border-radius: 0px 3px 3px 0px;
  }

  .dot-container {
    position: relative;
    right: 3px;
    width: 40px;
    height: 30px;
  }
  .dot {
    position: relative;
    width: 5px;
    height: 5px;
    background-color: rgb(0, 138, 213);
    border-radius: 50%;
  }

  .dot-container-1 {
    top: 15px;
    left: 18px;
  }

  .dot-container-2 {
    top: 10px;
    left: 12px;
    .dot:last-child {
      top: 5px;
      left: 15px;
    }
  }

  .dot-container-3 {
    top: 10px;
    left: 10px;
    .dot:nth-child(2) {
      left: 10px;
    }
    .dot:last-child {
      left: 20px;
    }
  }

  .dot-container-4 {
    .dot {
      float: right;
      margin: 8px 5px 3px 5px;
    }
  }

  .dot-container-3 {
    top: 10px;
    left: 10px;
    .dot:nth-child(2) {
      left: 10px;
    }
    .dot:last-child {
      left: 20px;
    }
  }

  .dot-container-5 {
    top: 6px;
    left: 8px;
    .dot:nth-child(2) {
      top: 4px;
      left: 11px;
    }
    .dot:nth-child(3) {
      top: -10px;
      left: 20px;
    }
    .dot:nth-child(4) {
      top: 4px;
      left: 0px;
    }
    .dot:last-child {
      top: -1px;
      left: 20px;
    }
  }

  .dot-container-6 {
    .dot {
      float: right;
      margin: 8px 3px 3px 3px;
    }
  }

} // End Domino Styling

.vertical-domino {
  width: 40px;
  height: 90px;
  position: relative;
  top: -15px;
  margin: 1px;
  .left-half, .right-half {
    box-sizing: border-box;
    float: none;
    width: 40px;
    height: 45px;
    margin: auto;
    border: 2px solid rgb(0, 138, 213);
    &:before {
      position: absolute;
      @include position(-1px);
      z-index: 1;
      border: 1px solid #b2dfdb;
      border-radius: 4px;
    }
  }
  .left-half {
    border-bottom: 1px solid rgb(0, 138, 213);
    border-radius: 3px 3px 0px 0px;
  }
  .right-half {
    border-top: 1px solid rgb(0, 138, 213);
    border-radius: 0px 0px 3px 3px;
  }

  .dot-container {
    position: relative;
    right: 3px;
    width: 40px;
    height: 30px;
  }
  .dot {
    position: relative;
    width: 5px;
    height: 5px;
    background-color: rgb(0, 138, 213);
    border-radius: 50%;
  }

  .dot-container-1 {
    top: 18px;
    left: 16px;
  }

  .dot-container-2 {
    top: 13px;
    left: 10px;
    .dot:last-child {
      top: 5px;
      left: 13px;
    }
  }

  .dot-container-3 {
    top: 12px;
    left: 9px;
    .dot:nth-child(2) {
      left: 9px;
    }
    .dot:last-child {
      left: 18px;
    }
  }

  .dot-container-4 {
    .dot {
      float: right;
      margin: 10px 7px 3px 5px;
    }
  }

  .dot-container-5 {
    top: 9px;
    left: 7px;
    .dot:nth-child(2) {
      top: 4px;
      left: 8px;
    }
    .dot:nth-child(3) {
      top: -10px;
      left: 18px;
    }
    .dot:nth-child(4) {
      top: 4px;
      left: 0px;
    }
    .dot:last-child {
      top: -1px;
      left: 18px;
    }
  }

  .dot-container-6 {
    .dot {
      float: right;
      margin: 4px 7px;
    }
  }

} // End Vertical Domino Styling

.vertical-domino-mini {
  width: 22px;
  height: 45px;
  position: relative;
  top: -8px;
  margin: 1px;
  .left-half, .right-half {
    box-sizing: border-box;
    float: none;
    width: 20px;
    height: 22px;
    margin: auto;
    border: 1px solid rgb(0, 138, 213);
    &:before {
      content: "";
      position: absolute;
      @include position(-1px);
      z-index: 1;
      border: 1px solid white;
      border-radius: 2px;
    }
  }
  .left-half {
    border-bottom: 1px solid rgb(0, 138, 213);
    border-radius: 1px 1px 0px 0px;
  }
  .right-half {
    border-top: 1px solid  rgb(0, 138, 213);
    border-radius: 0px 0px 1px 1px;
  }

} // End Vertical Domino Mini empties