header {
	margin-bottom: 1.5rem;
}

.padded {
  padding: 0.2rem;
}

.nav-wrapper {
  padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.brand-logo {
	left: 2% !important;
	transform: none !important;
}

.row-players {
  margin-bottom: 0.2rem;
}

.container-board {
  background: rgb(86,187,252);
  background: linear-gradient(131deg, rgba(86,187,252,1) 0%, rgba(141,206,249,1) 35%, rgba(168,240,255,1) 100%);
  margin-bottom: 0.2rem;
}

.player-in-turn-background {
	background: linear-gradient(90deg, #1565c0, #4fc3f7, #0d47a1, #2196f3);
	background-size: 400% 100%;
	animation: gradient 10s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container-dominoes-positions {
  padding-top: 1.5rem;
}

td, th {
  padding: 0.5rem 1rem;
}

.container-game-uuid {
  font-size: small;
  padding: 0.2rem;
}

.blob {
  box-shadow: 0 0 0 0 #bbdefb(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse-black 1s infinite;
}

@keyframes pulse-black {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 #bbdefb(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px #bbdefb(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 #bbdefb(0, 0, 0, 0);
	}
}
.text-animated {
  animation: textgrowth 1s infinite alternate;
}

@keyframes textgrowth {
   0% {
   font-size: 20px;
   }
   100% {
   font-size: 25px;
   }
}

.current-turn-mobile {
  position: fixed;
  top: 7em;
  right: 1.8em;
  z-index: 999;
}

// Star rating
.checked
{
	color:#ffc107;
}
.unchecked
{
	color:#bbdefb;
}

.star-rating {
	display: inline;
}

.avatar-header {
	margin-top: 0.4rem;
	margin-right: 0.6rem;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.page-footer {
	padding-top: 0px !important;
	bottom: 0px !important;
	position: float !important;

	.footer-container {
		padding: 10px 10px !important;
	}
}

.phx-connected {
	display: flex !important;
	min-height: calc(100vh - 42px) !important;
	flex-direction: column !important;
}

.h-custom {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.container-record {
	margin-bottom: 1rem;
}