<div class="container blue-text text-darken-4">
  <div class="row">
    <div class="col s12 m6">
      <h1>¿Quieres jugar Domino?</h1>
      <h4>Este es el juego de Domino en línea para todos...</h4>
      <br/>
      <div class="center-align hide-on-small-and-down">
        <h6>Hecho con <i class="fas fa-heart red-text"></i> por</h6>
        <a href="http://makingdevs.com/" target="_blank">
          <img src="<%= Routes.static_path(@conn, "/images/makingdevs.png") %>"
            width="100" height="92" alt="MakingDevs"/>
        </a>
      </div>
    </div>
    <div class="col s12 m6">
      <form id="form_login" action="<%= Routes.user_session_path(@conn, :login) %>" method="post">
        <input type="hidden" value="<%= @token %>" name="_csrf_token"/>
        <input id="name_fb" name="name_fb" type="hidden" value=""/>
        <input id="avatar_fb" name="avatar_fb" type="hidden" value=""/>
        <input id="email_fb" name="email_fb" type="hidden" value=""/>
        <div class="row row-players">
          <h4>Comienza aquí...</h4><br/>
          <div class="center-align">
          <a class="btn blue darken-4 text-white pulse" href="javascript:login()">
            <i class="fab fa-facebook-square fa-lg"></i>&nbsp;
            Ingresa con Facebook
          </a>
          </div>
          <p>&nbsp;</p>
          <hr>
          <h6>O ponte un nombre</h6>
          <div class="input-field col s12 inline">
            <i class="material-icons prefix">account_circle</i>
            <input class="validate" type="text" id="username" name="username" required="" aria-required="true" value="<%= suggest_nickname(@conn) %>" maxlength="13"/>
            <span class="helper-text" data-error="Tu nombre no puede estar vacío..." data-success="">Puedes usar este nombre o cambiarlo...</span>
            <label class="blue-text text-darken-2" for="username">Esté será tu nombre para jugar...</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12 center-align">
            <%= raw Recaptcha.Template.display %>
          </div>
        </div>
        <div class="row">
          <div class="col s12 center-align">
            <button class="btn waves-effect waves-light blue darken-4" type="submit">Entrar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="center-align hide-on-med-and-up">
    <h6>Hecho con <i class="fas fa-heart red-text"></i> por</h6>
    <a href="http://makingdevs.com/" target="_blank">
      <img src="<%= Routes.static_path(@conn, "/images/makingdevs.png") %>"
        width="75" height="69" alt="MakingDevs"/>
    </a>
  </div>
</div>

<script>

  function promise_for_name_and_email(response) {
    return new Promise (
      function (resolve, reject) {
        FB.api(
          '/me',
          'GET',
          {"fields":"name, email"},
          function(response) {
            resolve(response)
        });
      }
    );
  }

  function promise_for_avatar(response) {
    return new Promise (
      function (resolve, reject) {
        FB.api('/me/picture',
          {
            'redirect': false,
            'height': 50,
            'width': 50,
            'type': 'normal'
          },
          function (response) {
            if (response && !response.error) {
              resolve(response)
            }
        });
      }
    );
  }

  function load_user_in_sesion(response) {
    var name_fb = document.getElementById("name_fb")
    var avatar_fb = document.getElementById("avatar_fb")
    var email_fb = document.getElementById("email_fb")
    var form_login = document.getElementById("form_login")
    form_login.action = "/fb"
    var user_fb = {name:'', email:'', avatar:''}
    var get_name_and_mail = promise_for_name_and_email(response)
    var get_avatar = promise_for_avatar(response)
    get_name_and_mail.then(
      function(response) {
        user_fb.name = response.name
        user_fb.email = response.email
        get_avatar.then(
          function(resp_avatar) {
            user_fb.avatar = resp_avatar.data.url
            name_fb.value = user_fb.name
            email_fb.value = user_fb.email
            avatar_fb.value = user_fb.avatar
            form_login.submit()
          }
        ).catch(
          function(error) {
            console.log("Error al obtener el avatar")
          }
        )
      }
    ).catch(
      function(error) {
        console.log('Error al obtener nombre y email')
      }
    )
  }

  function do_login() {
    FB.login(function(response) {
      if (response.status === 'connected') {
        load_user_in_sesion(response)
      } else {
        console.log("can't connected with fb......")
      }
    }, {
      scope: 'email',
      return_scopes: true
    });
  }

  function statusChangeCallback(response) {
    if (response.status === 'connected') {
      load_user_in_sesion(response)
    } else {
      do_login(response)
    }
  }

  function login(){
    var check_status_login = new Promise (
      function (resolve, reject) {
        FB.getLoginStatus(function(response) {
          resolve(response)
        });
      }
    );
    check_status_login.then(
      function(response) {
        statusChangeCallback(response)
      }
    ).catch(
      function(error) {
        do_login()
      }
    )
  }

</script>
