<div class="collection white-text z-depth-2">
  <%= for {player, position} <- Enum.with_index(@game.positions) do %>
  <div class="collection-item">
    <%= if player.nick_name == @user do %>
    <div class="row row-players amber darken-2">
    <% else %>
    <div class="row row-players indigo darken-2">
    <% end %>
      <div class="col s8">
        <h6 class="valign-wrapper">
          <i class="small material-icons">
            <%= case position do
              0 -> "looks_one"
              1 -> "looks_two"
              _ -> "looks_#{position+1}"
            end %>
          </i>&nbsp;
          <span><%= if player.nick_name == @user do "Tú" else player.nick_name end %></span>
        </h6>
      </div>
      <div class="col s4">
        <h6 class="valign-wrapper right-align">
          <span><%= player.dominoes |> Enum.map(fn {x, y} -> x + y end)|> Enum.sum %> pts</span>
        </h6>
      </div>
    </div>
    <%= if player.nick_name == @user do %>
    <div class="row row-players amber lighten-4">
    <% else %>
    <div class="row row-players indigo lighten-4">
    <% end %>
      <div class="col m12">
        <div class="container-dominoes-positions">
        <%= for {vx, vy} <- player.dominoes do %>
          <div class="vertical-domino white-domino z-depth-3 left">
            <%= render "sections/content_domino.html", vx: vx, vy: vy %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
  <% end %> <!-- end for list positions-->
</div>